/*titulo produtos*/
.banner-produtos {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end; 
    position: relative;
}

.banner-overlay {
    width: 100%;
    background-color: rgba(11, 46, 0, 0.637); 
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: var(--bg); 
    font-family: var(--cooper);
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .banner-produtos {
        height: 200px;
    }
    
    .banner-title {
        font-size: 2rem;
    }
}

/* product section*/
.products-section {
    background-color: #edebe1; /* Fundo bege acinzentado da imagem */
    padding-bottom: 50px;
}

/* Menu de Categorias */
.category-menu {
    display: flex;
    justify-content: center;
    background-color: #f2c994; /* Cor de fundo das laterais no menu */
}

.category-item {
    flex: 1;
    max-width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
}

.category-thumb {
    height: 120px;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: sepia(0.5) saturate(1.5);
}

.category-item.active .category-thumb {
    filter: none; 
}

.category-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.category-label {
    background-color: var(--vonanaverde);
    color: #f2c994;
    text-align: center;
    padding: 15px 5px;
    font-weight: bold;
    font-size: 0.9rem;
    border-right: 1px solid rgba(255,255,255,0.1);
    font-family: var(--cooper);
}

.category-item.active .category-label {
    background-color: var(--vonanaverde); /* Tom mais escuro quando ativo */
    color: #fff;
}

/* Grid de Produtos */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 60px auto 0;
    padding: 0 20px;
}

.product-card {
    text-align: center;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-img-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.1));
}

.product-info h3 {
  font-size: 1rem;
  color: var(--vonanaverde);
  margin-bottom: 5px;
  font-weight: 700;
  font-family: var(--cooper);
}

.product-info p {
  font-size: 0.85rem;
  color: var(--vonanaverde);
  font-weight: 500;
}

/* Responsividade */
@media (max-width: 768px) {
    .category-menu {
        flex-wrap: wrap;
    }
    .category-item {
        min-width: 50%;
    }
}